*{
    margin: 0;
    padding: 0;
    text-decoration: none;
list-style-type: none;
font-size: 16px;
line-height: 28px;
color: #222222;
}
main{
    padding: 30px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
header h1{
    font-size: 36px;
    margin-bottom: 12px;
}
.description h2{
    margin-top: 30px;
    font-size: 24px;
}